version: '3.8'

services:
  # Local Database for Testing
  db:
    image: timescale/timescaledb:latest-pg16
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=viralvelocity
    volumes:
      - local_pg_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d viralvelocity"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  local_pg_data: