pandas==1.5.3
numpy==1.24.4
sqlalchemy==1.4.49
psycopg2-binary==2.9.9
scikit-learn==1.2.2
xgboost==1.7.6
tensorflow==2.11.1
mlxtend==0.22.0
huggingface_hub==0.20.3
joblib==1.2.0
pyyaml==6.0.1
python-dotenv==1.0.0
prefect==2.14.20
deepchecks==0.17.4
requests==2.31.0
