name: Collect YouTube Data

on:
  schedule:
    # Run every 2 hours (00:00, 02:00 ... 22:00 UTC)
    - cron: '0 */2 * * *'
  workflow_dispatch:

jobs:
  scrape:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkoutv4

      - name: Build Collector Image
        run: docker build -t vv-collector ./collector

      - name: Run Collector Container
        run: |
          docker run --rm \
            --env YOUTUBE_API_KEYS="${{ secrets.YOUTUBE_API_KEYS }}" \
            --env DATABASE_URL="${{ secrets.DATABASE_URL }}" \
            --env PREFECT_API_KEY="${{ secrets.PREFECT_API_KEY }}" \
            --env PREFECT_API_URL="${{ secrets.PREFECT_API_URL }}" \
            vv-collector